*{
    padding: 0;
    margin: 0;
    text-decoration-line: none;
}
.Rul{
    display: flex;
    color: #000;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pa{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
.pa h4{
    text-align: right;
    font-size: 40px;
}
.pa ul{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    color: #000;
    position: relative;
    top: -60px;
    text-decoration-line: none;
    display: flex;
}
.pa li{
    color: #000;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    margin-left: -10px;
}
.pa img{
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.footer{
    margin: 0;
}
.footer a{
    color: #000;
}
@media screen and (max-width: 900px) {
    nav{
        display: flex;
        justify-content: right;
    }
    nav ul{
        width: px;
    }
    nav ul li{
        font-size: 15px;
    }
    header{
        padding-top: 10px;
    }
    .banner{
        height: 50vh;
    }
    .banner .spytown{
        width: 350px;
        position: relative;
        top: 100px;
        height: 190px;
    }
    .pa img{
        width: 95%;
    }
    .btn{
        display: none;
    }
    .Rul{
        position: relative;
        top: -90px;
    }
    .row{
        display: flex;
        justify-content: flex-end;
    }
}